html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #747572;
}

div#main {
  width: 1500px;
  height: 800px;
  background-color: aliceblue;
  position: relative;
  background-image: url(images/background-plain.jpg);
  background-size: cover;
}

div#background {
  /* url */
  background-color: cyan;
}

div#jad {
  width: 300px;
  height: 200px;
  background-color: red;
  position: absolute;
  top: 15%;
  right: 30%;
}

div#character {
  top: 300px;
  left: 650px;
  position: relative;
  /* display: inline-block; */
  max-width: max-content;
  max-height: max-content;
}

div#player {
  width: 100px;
  height: 180px;
  background-color: white;
  /* position: absolute; */
  /* top: 30%;
    right: 60%; */
}

div#health {
  width: 80px;
  height: 10px;
  background-color: lightgreen;
  /* left: 80px; */

  /* position: absolute; */
}
div#prayer {
  width: 40px;
  height: 40px;
  background-color: green;
  left: 50px;

  /* position: absolute; */
}

div#inventory {
  width: 280px;
  height: 400px;
  position: relative;
  top: 130px;
  left: 1215px;
  /* top: 40%;
    right: 10%; */
  background-image: url(images/prayers.JPG);
  background-size: cover;
}

div#top-invent {
  width: 280px;
  height: 50px;
  top: 0%;
  position: absolute;
}
div#main-invent-item,
#main-invent-pray {
  top: 50px;
  width: 280px;
  height: 300px;
  position: relative;
}
div#bottom-invent {
  width: 280px;
  height: 50px;
  position: absolute;
  bottom: 0%;
}

div.row {
  width: 280px;
  height: 42.85px;
  display: flex;
  flex-direction: row;
}
div.prayrow {
  width: 280px;
  height: 42.85px;
  display: flex;
  flex-direction: row;
  top: 134px;
  position: relative;
}
div.item {
  width: 70px;
  height: 42.85px;
  border: 1px solid black;
}
div.itemcolumn {
  width: 30px;
  height: 42.85px;
}
div.pray {
  width: 40px;
  height: 42.85px;
  left: 80px;
  position: relative;
}

div.praycolumn {
  width: 28px;
  height: 42.85px;
  border: 2px solid black;
}
